@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";

.card_Holder {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 20px;

  .top_card {
    width: calc(100% / 4.5);
    padding: 22px 10px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 15px rgba(229, 229, 229, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icons_item {
      position: relative;
      height: 85px;
      width: 85px;
      line-height: 85px;
      border-radius: 50%;
      text-align: center;
      background-color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 40px;
      }
    }

    .item_title {
      color: #a8a8a8;
    }

    .item_number {
      font-size: 20px;
      font-weight: 600;
      color: #111111;
    }
  }
}

.dounut_date {
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 10px 20px 15px rgba(229, 229, 229, 0.75);
  width: calc(100% / 2.07);
  .card_holder_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: #111111;
      font-weight: 600;
      margin-bottom: 0;
      font-size: 22px;
      margin-bottom: 10px;
    }

    span {
      color: #bcbcbc;
      font-size: 36px;
      cursor: pointer;
      padding-bottom: 15px;
    }
  }

  .dounut {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chart {
  width: 60%;
  margin-bottom: 10px;
}

.bar_Aria {
  display: flex;
  justify-content: space-between;
}

.student_count {
  h4 {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 2px;
  }

  span {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
  }

  .color_gardians {
    height: 6px;
    width: 49px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  .right_color {
    background-color: $orang;
  }

  .left_color {
    background-color: $blue;
  }
}

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "Popin" !important;
  
  .react-calendar__month-view__weekdays__weekday{
    
    abbr{
      text-decoration: none !important;
     
    }
  }

  .react-calendar__tile--active{
   font-family: "Popin" !important;
   background-color: $blue;
  }
  .react-calendar__navigation__label{
    font-family: "Popin" !important;
    font-weight: bold !important;
  }

  .react-calendar__tile {
    abbr{
      font-family: "Popin" !important;
    }
  }

  .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
    background-color: $orang !important;
  }

}
