@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";
.main {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 70px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.topBar {
  display: flex;
  width: 50%;
  align-items: center;
  background-color: white;
  justify-content: space-around;

  .search {
    width: 25px;
    margin: 0px 10px;
  }

  input {
    border: none;
    width: 90%;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    color: #111111;
    font-size: 16px;
    height: 60px;
    outline: none;

    &::placeholder {
      font-size: 20px;
    }
  }
}

.right_Side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.name_Pash {
  display: flex;
  flex-direction: column;

  .naMe {
    font-size: 14px;
    font-weight: bold;
  }
  .pash {
    font-size: 13px;
    color: #646464;
    display: block;
  }
}

.user_img {
  width: 40px;
  height: 40px;

  border-radius: 100%;
  overflow: hidden;
}
.notifications {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0px 10px;

  .envelop {
    position: relative;
    padding: 0px 10px;
    .enve {
      width: 20px;
    }

    .Number_genrater {
      @include reset-cirule($sky_blue);
    }
  }

  .bell {
    position: relative;
    padding: 0px 10px;
    .bell_noti {
      width: 20px;
    }

    .Number_genrater {
      @include reset-cirule($red);
    }
  }
}

.languages {
  padding: 0px 10px;
  height: auto;
  display: flex;
  align-items: center;
  .icn {
    color: $orang;
  }
  span {
    padding: 0px 10px;
    font-weight: 600;
  }
}

.chevron_bottom {
  cursor: pointer;
}

//Drop Admin Down menue start//
.admin_drop_down {
  min-width: 200px;
  border: none;
  top: 70px;
  right: 213px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(33, 30, 30, 0.15);
  display: none;

  .admin_name {
    text-align: center;
    background-color: $orang;
    padding: 20px 25px;
    border-radius: 4px 4px 0 0;
  }

  .list {
    padding: 10px 0px;
    margin-bottom: 0px;

    li {
      color: #646464;
      font-size: 13px;
      display: block;
      padding: 8px 25px;

      .list_icn {
        margin-left: 0;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #444444;
      }
    }
  }

  &::after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid $orang;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -8px;
    right: 14px;
  }
}

.messege_drop_down {
  min-width: 350px;
  border: none;
  top: 48px;
  right: -3px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(33, 30, 30, 0.15);
  display: none;

  .messege_status {
    text-align: center;
    background-color: $sky_blue;
    padding: 20px 25px;
    border-radius: 4px 4px 0 0;
    position: relative;
  }

  .contant_area {
    padding: 10px 20px;
  }

  .messege_wrapper {
    display: flex;

    .text_wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 15px;
      .nt_container {
        display: flex;
        justify-content: space-between;
        flex: 1;

        .item_name {
          font-size: 14px;
          font-weight: 600;
          color: #444444;
        }

        .item_time {
          font-size: 14px;
          color: #848484;
        }
      }

      p {
        font-size: 14px;
        color: #646464;
      }
    }
  }

  &::after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid $sky_blue;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -8px;
    right: 14px;
  }
}

.notification_drop_down {
  min-width: 275px;
  border: none;
  top: 48px;
  right: -3px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(33, 30, 30, 0.15);
  display: none;

  .messege_status {
    text-align: center;
    background-color: $red;
    padding: 20px 25px;
    border-radius: 4px 4px 0 0;
    position: relative;
  }

  .noti_wrapper {
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .media_noti {
    border-bottom: 1px solid #eaeaea;
    margin-top: 20px;
    padding-bottom: 14px;
    display: inline-flex;
    justify-content: center;
  }

  .item_noti {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 31px;
    text-align: center;
    background-color: $sky_blue;
  }

  .noti_text {
    margin-left: 15px;

    span {
      font: 12px;
    }
  }

  .post_title {
    font-size: 14px;
    font-weight: 500;
    color: #444444;
  }

  &::after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid $red;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -8px;
    right: 14px;
  }
}

.language_drop {
  position: absolute;
  top: 70px;
  right: 15px;
  box-shadow: 0px 0px 10px 0px rgba(33, 30, 30, 0.15);
  background-color: white;
  font-size: 14px;

  li {
    padding: 10px 20px;
  }
}

#navigation-dropdown {
  transition: 3s ease-out;
}
.hide {
  opacity: 0;
  height: 0 !important;
}

.show {
  display: block;
}

.dontShow {
  display: block;
}
