@font-face {
  font-family: "popin";
  font-weight: 300;
  font-style: normal;
  src: url("../src/assets/font/popin.woff2");
}

body {
  font-family: "popin";
}

.Felx {
  display: flex;

  .navBar {
    width: 20rem;
    margin-bottom: 0px;
  }

  .Compo {
    width: 100%;
  }
}
