* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  text-decoration: none;
}

li {
  list-style: none;
  list-style-type: none;
}

ul {
  padding: 0px;
}

p {
  margin: 0px;
}
